.venv/
.env
venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
base/migrations/*.py
base/migrations/__init__.py

# Media files (if not needed in version control)
media/

# Ignore migrations
migrations/

# Add other patterns as necessary for your project